.caption {
  margin-top: 16px;

  @media (width <= 768px) {
    margin-top: 8px;
  }

  p{
    font-size: 12px;
    line-height: 1.25;
    margin-top: 0;

    a{
      img{
        margin-inline: 3px;
      }
    }
  }
}

@media (width <= 768px) {
  .caption {
    p{
      font-size: 11px;
      line-height: 1.273;
    }
  }
}