.author-info-container{
    margin-top: 56px;

    @media (width <= 768px) {
        margin-top: 40px;
    }

    .author-info > div{
        background-color: var(--background-gray-01);
        padding: 24px;
        border-radius: 8px;
        position: relative;

        @media (width <= 768px) {
            padding: 24px 20px;
        }

        .author-info-heading{
            @media (width <= 768px) {
                display: flex;
                width: 100%;
                gap: 24px;
            }

            p{
                margin-top: 0;
                flex: 1;

                @media (width <= 768px) {
                    font-size: 15px;
                }
            }

            &:has(picture) p{
                padding-left: 104px;

                @media (width <= 768px) {
                    line-height: 1.5;
                    padding-left: 0;
                }
            }

            picture{
                display: flex;
                width: 80px;
                height: 80px;
                justify-content: center;
                align-items: center;
                background-color: var(--background-color);
                border-radius: 1000vmax;
                overflow: hidden;
                position: absolute;
                top: 24px;
                left: 24px;

                @media (width <= 768px) {
                    width: 64px;
                    height: 64px;
                    position: static;
                }

                img{
                    object-fit: contain;
                }
            }

        }

        .author-info-text{
            padding-left: 104px;
            margin-top: 8px;

            @media (width <= 768px) {
                padding-left: 0;
                margin-top: 24px;
            }

            p{
                margin-top: 0;
            }
        }

    }
}