.cards-separate {
  margin-top: 32px;
}

.cards-separate-item {
  width: 100%;
}

.cards-separate > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 24px;
}

.cards-separate-listItem {
  display: grid;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
}
.cards-separate-item {
  transition: box-shadow 300ms ease-out;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
  display: inherit;
  grid-template-rows: inherit;
  grid-row: inherit;
}

.cards-separate-item-inner {
  height: 100%;
  display: inherit;
  grid-template-rows: inherit;
  grid-row: inherit;
  padding-bottom: 32px;
}

.cards-separate-item-inner .buttons-wrapper .button-container .button.secondary{
  background-color: var(--text-white);
}

.cards-separate .cards-separate-listItem > .cards-separate-item.-link {
  text-decoration: none;
  
  &:hover{
    text-decoration: none;
    transition: box-shadow 300ms ease-out, color 300ms ease-out;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 30%);

    h3{
      color: var(--link-blue-02);
    }
  }
}

/* クラスのパターン */
.cards-separate {
  /* 線なし */
  &.no-border .cards-separate-item {
    box-shadow: none;
  }
  /* シャドウの枠 */
  &.border .cards-separate-item {
    box-shadow: none;
    border: 1px solid var(--border-gray);
  }

  /* 四角 */
  &.no-radius .cards-separate-item {
    border-radius: 0;
  }

  /* マージンなし */
  &.no-margin > ul {
    column-gap: 0;
  }

  /* カラム */
  &.col1 > ul {
    grid-template-columns: 1fr;
  }
  &.col2 > ul {
    grid-template-columns: repeat(2, 1fr);
  }
  &.col3 > ul {
    grid-template-columns: repeat(3, 1fr);
    .buttons-wrapper {
      flex-direction: column;
    }
  }
  &.col4 > ul {
    grid-template-columns: repeat(4, 1fr);
    .buttons-wrapper {
      flex-direction: column;
    }
  }
  @media only screen and (width <= 768px){
    &.col1 > ul,
    &.col2 > ul,
    &.col3 > ul,
    &.col4 > ul {
      grid-template-columns: 1fr;
    }
  }

  /* 背景色パターン */
  &.bg-primary .cards-separate-item {
    background-color: var(--background-blue-02);
    .cards-separate-item-tags li {
      background-color: var(--background-color);
    }
  }
  &.bg-secondary .cards-separate-item {
    background-color: var(--background-blue-01);
  }
  &.bg-tertiary .cards-separate-item {
    background-color: var(--background-gray-01);
  }
  &.bg-strong .cards-separate-item {
    background-color: var(--background-blueblack);
    /* font系の設定 */
    p, h3, li, .a-container a {
      color: var(--text-white);
    }
    .cards-separate-item-tags li {
      color: var(--text-black);
    }
  }

  /* ボタン縦並び */
  /* &.button-vertical .cards-separate-item {
    .buttons-wrapper {
      flex-direction: column;
    }
  } */

}

.cards-separate {
  .cards-separate-item-heading {
    margin-inline: auto;
    padding: 24px 0;
    width: calc(100% - 48px);
    border-bottom: 1px solid var(--border-gray);

    > *:first-child {
      margin-top: 0;
    }
  }

  .cards-separate-item-body1 {
    padding: 24px 24px 0;

    > *:first-child {
      margin-top: 0;
    }
  }

  .cards-separate-item-body2 {
    padding: 0 24px;
  }

  /* font系の設定 */
  p, li {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    font-size: 14px;
    text-decoration: underline;
  }

  p{
    margin: 0;
    margin-top: 16px;
  }

  h3{
    transition: color 300ms ease-out;
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 16px;
  }

  /* ボタン */
  .buttons-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 8px;
    .button-container {
      margin-top: 0;
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }

  .cards-separate-item-lists{
    margin-top: 16px;
    li {
      position: relative;
      padding-left: 16px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #323232;
      }
    }
  }

  .cards-separate-item-tags{
    margin-top: 32px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;

    li{
      display: flex;
      padding: 4px 12px;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: #F4F8FA;
      color: #323232;
      font-size: 13px;
      font-weight: 400;
      line-height: 16.5px;
    }
  }
}

@media only screen and (width <= 768px){
  .cards-separate > ul { 
    grid-template-columns: 1fr;
  }

  .cards-separate .cards-separate-listItem{
    width: 100%;
  }

}