.media-normal{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 60px;

    @media only screen and (width <= 768px){
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
    }
}

.media-normal-items{
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);

    @media only screen and (width <= 768px){
        flex-direction: column;
    }
}

.media-normal-img{
    border-radius: 4px;
    overflow: hidden;

    img{
        width: 100%;
    }
}

.media-normal-content{

    /* タグ */
    ul{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 8px;

        li{
            display: inline-flex;
            font-size: 12px;
            line-height: 125%;
            padding: 4px 8px;
            align-items: center;
            border-radius: 4px;
            background: var(--background-blue-02);
        }

        + h3{
            margin-top: 24px;

            @media only screen and (width <= 768px){
                margin-top: 16px;
            }
        }
    }

    /* 見出し */
    h3{
        font-size: var(--heading-font-size-xl);
        font-weight: 700;
        line-height: 125%;
        margin-top: 0;
    }

    /* テキスト */
    p:not([class]){
        font-size: 16px;
        line-height: 150%;
        margin-top: 16px;

        @media only screen and (width <= 768px){
            margin-top: 10px;
        }
    }

    /* ボタンラップ */
    .media-normal-button-wrap{
        margin-top: 32px;

        @media only screen and (width <= 768px){
            margin-top: 24px;
        }

        p.button-container{

            a{
                display: flex;
                width: 100%;
            }

            & + &{
                margin-top: 8px;
            }
        }
    }
}

/* クラスのパターン */
.media-normal{
    /* カラム数 */
    &.col1{
        flex-direction: column;
        .media-normal-items{
            gap: 32px;

            @media only screen and (width <= 768px) {
                gap: 24px;
            }
        }
    }

    &.col2{
        .media-normal-items{
            width: calc(50% - 12px);
            gap: 24px;

            @media only screen and (width <= 768px) {
                width: 100%;
                gap: 16px;
            }
        }
    }

    /* 画像とテキストの比率 */
    &.img-text-1to1{
        .media-normal-items{
            .media-normal-img,
            .media-normal-content {
                width: 50%;
                flex: 1 1 50%;

                @media only screen and (width <= 768px) {
                    width: 100%;
                    flex: 1 1 100%;
                }
            }
        }
    }
    &.img-text-3to2{
        .media-normal-items{
            .media-normal-img {
                width: 60%;
                flex: 1 1 60%;
            }
            .media-normal-content {
                width: 40%;
                flex: 1 1 40%;
            }
            .media-normal-img,
            .media-normal-content {
                @media only screen and (width <= 768px) {
                    width: 100%;
                    flex: 1 1 100%;
                }
            }
        }
    }

    /* 背景色パターン */
    &.bg-primary .media-normal-items {
            background-color: var(--background-blue-02);
            .media-normal-content ul li {
            background-color: var(--background-color);
        }
    }
    &.bg-secondary .media-normal-items {
        background-color: var(--background-blue-01);
    }
    &.bg-tertiary .media-normal-items {
        background-color: var(--background-gray-01);
    }
    &.bg-strong .media-normal-items {
        background-color: var(--background-blueblack);
        /* font系の設定 */
        p, h3, li {
            color: var(--text-white);
        }
        .media-normal-content ul li {
            color: var(--text-black);
        }
    }

    /* ボーダーなし */
    &.no-border .media-normal-items{
        box-shadow: none;
    }

    /* 小さいサイズ 幅1000px */
    &.small{
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    /* ボーダー */
    &.border .media-normal-items{
        box-shadow: none;
        border: 1px solid var(--border-gray);
    }

    /* 全体リンク */
    &.link-all .media-normal-items.-link{
        text-decoration: none;
        color: var(--text-black);
        transition: box-shadow 300ms ease-out;

        h3{
            transition: color 300ms ease-out;
        }

        &:hover{
            text-decoration: none;
            transition: box-shadow 300ms ease-out, color 300ms ease-out;
            box-shadow: 0 6px 20px 0 rgb(0 0 0 / 30%);

            h3{
              color: var(--link-blue-02);
            }
          }
    }

    /* 画像右 */
    .media-normal-items:has(> .media-normal-content:first-child) {
        @media only screen and (width <= 768px) {
            flex-direction: column-reverse;
        }
    }

    /* テキスト寄せ */
    .media-normal-items:has(.media-normal-content[data-valign="middle"]) {
        align-items: center;
      }
      .media-normal-items:has(.media-normal-content[data-valign="bottom"]) {
        align-items: flex-end;
      }
      .media-normal-items:has(.media-normal-content[data-valign="top"]) {
        align-items: flex-start;
      }
}
