/* header and nav layout */
header{
    display: block;
    background-color: var(--background-color);
    width: 100%;
    overflow: visible;

    /* ローカルナビゲーション */
    .nav-wrapper {
        display: block;
        width: 100%;
        border-bottom: solid 1px #dce1e4;
        position: sticky;
        top: 0;
        z-index: 100;

        &.is-fixed{
            background-color: var(--background-color);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1248px;
        padding: 0 24px;
        margin: 0 auto;

        a:any-link {
            color: currentcolor;
        }

        .nav-sections {
            flex: 1;

            .nav-drop {
                position: relative;
                padding-right: 16px;
                cursor: pointer;

                &::after {
                    content: '';
                    display: block;
                    transform: rotate(135deg);
                    width: 6px;
                    height: 6px;
                    border: 2px solid #c2c6cc;
                    border-radius: 0 1px 0 0;
                    border-width: 2px 2px 0 0;
                    margin-left: 10px;
                    transition: transform .2s ease;
                }

                &[aria-expanded='true']::after {
                    top: calc(50% + 3px);
                    transform: rotate(315deg);
                }
            }

            .default-content-wrapper{
                > ul{
                    display: flex;
                    gap: 0 32px;
                    padding-left: 0;
                    margin-top: 0;

                    > li{
                        display: flex;
                        width: fit-content;
                        align-items: center;
                        height: var(--nav-local-height);
                        position: relative;
                        color: #333;
                        padding: 24px 0 12px;

                        &:not([class]){
                            font-weight: bold;
                            border-bottom: solid 3px #707070;
                        }

                        > ul{
                            display: none;
                            position: relative;
                            margin-top: 0;

                            > li{
                                padding: 8px 0;
                                font-weight: 400;
                            }
                        }

                        &[aria-expanded='true']{
                            > ul{
                                position: absolute;
                                display: block;
                                top: 61px;
                                width: max-content;
                                max-width: 232px;
                                max-height: 0;
                                padding: 0 16px;
                                -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
                                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
                                opacity: 0;
                                background-color: #fff;
                                padding: 8px 16px;
                                max-height: none;
                                opacity: 1;
                                z-index: 999;

                                > li{
                                    display: block;
                                    width: 100%;
                                    max-width: 200px;
                                    padding: 12px 8px;

                                    & + &{
                                        border-top: solid 1px #eceeef;
                                    }

                                    a{
                                        color: #707070;
                                        font-size: 14px;
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &[aria-expanded='true'] .nav-sections {
            display: block;
            visibility: visible;
            align-self: start;
            align-self: unset;
        }
    }

    nav[aria-expanded='true'] {
        min-height: 0;
        overflow: visible;
    }
}

/* header nav {
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-local-height);
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-local-height)
    'sections sections' 1fr
    'tools tools' var(--nav-local-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
} */



/* sections */

@media (width <= 768px) {

    header{
        min-height: 66px;

        nav {
            display: block;
            height: auto;
            padding: 0;
    
            &[aria-expanded='false']{
                .nav-sections,
                .nav-tools{
                    display: none;
                }
            }

            &[aria-expanded='true']{
                .sp-nav-trigger{
                    &::after{
                        transform: rotate(315deg);
                        top: 3px;
                    }
                }
                
                .nav-sections,
                .nav-tools{
                    display: block;
                }

                .nav-sections{
                    border-top: solid 1px #dce1e4;
                }
            }

            .sp-nav-trigger{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                text-align: center;
                padding: 15px 24px;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    transform: rotate(135deg);
                    width: 6px;
                    height: 6px;
                    border: 2px solid #c2c6cc;
                    border-radius: 0 1px 0 0;
                    border-width: 2px 2px 0 0;
                    transition: transform .2s ease;
                    margin-left: 10px;
                    position: relative;
                }
            }

            .nav-sections {
                .nav-drop {
                    &::after {
                        position: absolute;
                        right: 0;
                        top: 20px;
                    }
    
                    &[aria-expanded='true']::after {
                        top: 23px;
                    }
                }

                .default-content-wrapper{
                    > ul{
                        display: block;
                        max-height: 40vh;
                        padding: 0 24px;
                        overflow-x: hidden;
                        overflow-y: auto;
    
                        > li{
                            display: block;
                            width: 100%;
                            height: auto;
                            padding: 16px 0 16px 8px;
    
                            &:not([class]){
                                border-bottom: none;
                            }

                            & + &{
                                border-top: solid 1px #dce1e4;
                            }
    
                            > ul{
                                display: none;
                                position: relative;
                                margin-top: 0;
    
                                > li{
                                    padding: 8px 0;
                                    font-weight: 400;
                                }
                            }
    
                            &[aria-expanded='true']{
                                padding-bottom: 0;

                                > ul{
                                    position: static;
                                    max-width: 100%;
                                    max-height: none;
                                    padding: 14px 20px;
                                    margin-top: 16px;
                                    box-shadow: none;
                                    border-top: solid 1px #dce1e4;
    
                                    > li{
                                        width: 100%;
                                        max-width: none;
                                        padding: 14px 0;
    
                                        & + &{
                                            border-top: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }

    /* .nav-sections .nav-drop {
      position: relative;
    }
  
    .nav-sections .nav-drop[aria-expanded='false'] > ul {
      display: none;
    }
  
    .nav-sections .nav-drop[aria-expanded='true'] > ul {
      display: block;
    }
  
    .nav-sections .nav-drop::after {
      content: '';
      position: absolute;
      right: 24px;
      top: 50%;
      width: 8px;
      height: 8px;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: translateY(-50%) rotate(45deg);
      transition: transform 0.3s;
    }
  
    .nav-sections .nav-drop[aria-expanded='true']::after {
      transform: translateY(-50%) rotate(-135deg);
    } */
}

/* tools */
header nav .nav-tools {
    p.button-container{
        margin-top: 0;
    }

    a.button{
        display: flex;
        position: relative;
        padding: 10px 16px;
        padding-right: 34px;
        color: #FFF;
        font-size: 13px;
        justify-content: center;
        align-items: baseline;
        gap: 10px;
        border-radius: 4px;
        background: var(--link-blue-02);
        margin: 0;

        &[target="_blank"]{
            &::after{
                content: '';
                display: block;
                background: url("../../icons/arrow-white.svg") no-repeat center / contain !important;
                width: 8.467px;
                height: 13.239px;
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                transition: all .2s ease;
            }
        }
    }
}

@media (width <= 768px) {
    header nav .nav-tools {
        width: 100%;
        padding: 20px 24px 16px;
        border-bottom: solid 1px #dce1e4;
        box-shadow: 0 -12px 12px -12px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 2;

        a.button{
            display: flex;
            width: 100%;
            padding: 11px 40px 9px 24px;
            font-size: 14px;
            border-radius: 6px;
            position: relative;
    
            &::after{
                margin: 0 0 0 auto;
                position: absolute;
                top: calc(50% - (13.239px / 2));
                right: 24px;
            }
        }
    }
}
