.cards-icon {
  margin-top: 32px;
}

.cards-icon-item {
  width: 100%;
}


.cards-icon-item-image {
  margin-inline: auto;
  margin-top: 24px;
  width: 100%;
  max-width: 120px;
  border-radius: 4px;
  overflow: hidden;
  picture {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.cards-icon > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 24px;
}

.cards-icon-listItem {
  display: grid;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
}
.cards-icon-item {
  transition: box-shadow 300ms ease-out;
  border-radius: 8px;
  overflow: hidden;
  display: inherit;
  grid-template-rows: inherit;
  grid-row: inherit;
  border: 1px solid var(--border-gray);
  background-color: var(--background-color);
}

.cards-icon-item-inner {
  height: 100%;
  display: inherit;
  grid-template-rows: inherit;
  grid-row: inherit;
}

.cards-icon .cards-icon-listItem > .cards-icon-item.-link {
  &:hover{
    text-decoration: none;
    transition: box-shadow 300ms ease-out, color 300ms ease-out;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 30%);

    h3{
      color: var(--link-blue-02);
    }
  }
}

/* クラスのパターン */
.cards-icon {
  /* 線なし */
  &.no-border .cards-icon-item {
    border: none;
  }

  /* 画像サイズ */
  &.img-small .cards-icon-item-image {
    max-width: 64px;
  }
  &.img-large .cards-icon-item-image {
    max-width: 200px;
  }

  /* 四角 */
  &.no-radius .cards-icon-item {
    border-radius: 0;
  }

  /* カラム */
  &.col1 > ul {
    grid-template-columns: 1fr;
  }
  &.col2 > ul {
    grid-template-columns: repeat(2, 1fr);
  }
  &.col3 > ul {
    grid-template-columns: repeat(3, 1fr);
    .buttons-wrapper {
      flex-direction: column;
    }
  }
  &.col4 > ul {
    grid-template-columns: repeat(4, 1fr);
    .buttons-wrapper {
      flex-direction: column;
    }
  }
  &.col5 > ul {
    grid-template-columns: repeat(5, 1fr);
  }
  &.col6 > ul {
    grid-template-columns: repeat(6, 1fr);
  }

  &.col5 > ul,
  &.col6 > ul {
    column-gap: 16px;
    .cards-icon-item-body1 {
      padding: 16px 16px 0;
      &:last-child {
        padding-bottom: 24px;
      }
    }
    .cards-icon-item-body2 {
      padding: 0 16px 24px;
    }
    .buttons-wrapper {
      flex-direction: column;
    }
    p {
      margin-top: 12px;
      &:has(a){
        margin-top: 24px;
      }
    }
  }

  @media only screen and (width <= 768px){
    &.col1 > ul,
    &.col2 > ul,
    &.col3 > ul,
    &.col4 > ul,
    &.col5 > ul,
    &.col6 > ul {
      grid-template-columns: 1fr;
    }
  }


  /* マージンなし */
  &.no-margin ul {
    gap: 0;
  }


  /* 背景色パターン */
  &.bg-primary .cards-icon-item {
    background-color: var(--background-blue-02);
    .cards-icon-item-tags li {
      background-color: var(--background-color);
    }
  }
  &.bg-secondary .cards-icon-item {
    background-color: var(--background-blue-01);
  }
  &.bg-tertiary .cards-icon-item {
    background-color: var(--background-gray-01);
  }
  &.bg-strong .cards-icon-item {
    background-color: var(--background-blueblack);
    /* font系の設定 */
    p, h3, li, .a-container a {
      color: var(--text-white);
    }
    .cards-icon-item-tags li {
      color: var(--text-black);
    }
  }

  /* ボタン縦並び */
  /* &.button-vertical .cards-icon-item {
    .buttons-wrapper {
      flex-direction: column;
    }
  } */

  /* 見出しが上 */
  &.above-heading .cards-icon-item {
    .cards-icon-item-image {
      order: 2;
      /* padding: 0 24px; */
      img {
        /* border-radius: 8px; */
      }
    }
    .cards-icon-item-body1 {
      order: 1;
    }
    .cards-icon-item-body2 {
      order: 3;
    }
  }
}

.cards-icon {
  .cards-icon-item-body1 {
    padding: 24px 24px 0;
    
    > *:first-child {
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 32px;
    }

  }
  .cards-icon-item-body2 {
    padding: 0 24px 32px;
  }
  .cards-icon-item-body1,
  .cards-icon-item-body2 {
  }
  /* font系の設定 */
  p, li {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  a:not(:has(div)) {
    font-size: 16px;
    text-decoration: underline;
  }

  p{
    margin: 0;
    margin-top: 16px;
    &:has(a){
      margin-top: 32px;
    }
  }

  h3{
    transition: color 300ms ease-out;
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 16px;
  }

  /* ボタン */
  .buttons-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 8px;
    .button-container {
      margin-top: 0;
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }

  .cards-icon-item-lists{
    margin-top: 16px;
    li {
      position: relative;
      padding-left: 16px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }

  .cards-icon-item-tags{
    margin-top: 32px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;

    li{
      display: flex;
      padding: 4px 12px;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: #F4F8FA;
      color: #323232;
      font-size: 13px;
      font-weight: 400;
      line-height: 16.5px;
    }
  }
}

.cards-icon .cards-icon-card-image-section {
  line-height: 0;
}

.cards-icon1-listItem > a img {
  width: 120px;
  height: auto;
}

@media only screen and (width <= 768px){
  .cards-icon > ul { 
    grid-template-columns: 1fr;
  }

  .cards-icon .cards-icon-listItem{
    width: 100%;
  }

}