.table-container {
    margin-top: 32px;

    @media (max-width: 768px) {
        margin-top: 20px;
    }
}

.table {
  width: 100%;
  overflow-x: auto;
}

.table{
    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        font-size: var(--body-font-size-default);

        @media (max-width: 768px) {
            font-size: 12px;
        }

        tbody{
            tr{
                th, td{
                    padding: 16px;
                    border: 1px solid var(--border-black-02);

                    @media (max-width: 768px) {
                        padding: 8px;
                    }
                }

                th{
                    width: 240px;
                    text-align: center;
                    background-color: var(--background-gray-01);

                    @media (max-width: 768px) {
                        width: 120px;
                    }

                    > p:first-child{
                        margin-top: 0;
                    }
                }

                td{
                    text-align: left;

                    > p:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

/* 表組みのタイトル */

.table-container{
    .default-content-wrapper:has(h5) + .table-wrapper{
        margin-top: 8px;
    }
    .default-content-wrapper{
        h5{
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}
