.related-services-wrapper{
    margin-top: 16px !important;
}

.related-services-wrapper{
    .related-services{
        ul{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 32px 24px;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 24px;
            }

            > li{
                width: calc((100% - (24px * 2)) / 3);

                @media (max-width: 768px) {
                    width: 100%;
                }

                /* SPでは4つ目以降の記事は非表示 */
                &:nth-child(n+4){
                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                a{
                    display: block;

                    .related-services-image{
                        width: 100%;
                        height: 145px;

                        @media (max-width: 768px) {
                            height: 188px;
                        }

                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            
                        }
                    }

                    .related-services-text{
                        > p{

                            @media (max-width: 768px) {
                                font-size: 14px;
                            }

                            &:first-of-type{
                                color: var(--link-blue);
                                margin: 8px 0;

                                @media (max-width: 768px) {
                                    text-decoration: underline;
                                }
                            }

                            &:last-of-type{
                                color: var(--text-black);
                            }
                        }
                    }
                }
                
            }
        }
    }
}