.bloglist-container {
    .load-more-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .load-more-button {
            &::after {
                transform: rotate(90deg);
                top: 35%;
            }
        }
    }
}