:root {
  /* colors background */
  --background-color: #fff;
  --background-blue-01: #F0F2F4;
  --background-blue-02: #F4F8FA;
  --background-blueblack:#001B38;
  --background-black: #010E1C;
  --background-gray-01: #ECECEC;
  --background-gray-02: #D6D6D6;
  --background-gray-03: #E1E1E6;
  --background-blue-hover: #D7ECF7;

  /* colors text */
  --text-black: #323232;
  --text-black-000: #000;
  --text-white: #FFF;

  /* colors link */
  --link-blue: #007BFF;
  --link-blue-02: #2979FF;
  --link-orange: #FF751A;

  /* colors border */
  --border-gray: #C1C6CC;
  --border-black-01: #333;
  --border-black-02: #616161CC; /* #616161 · 80% */
  --border-black-03: #555;

  /* fonts */
  --body-font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", system-ui, sans-serif;
  --heading-font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", system-ui, sans-serif;

  /* body sizes */
  --body-font-size-default: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 28px;
  --heading-font-size-xl: 24px;
  --heading-font-size-l: 20px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-local-height: 60px;
  --nav-breadcrumbs-height: 21px;

  /* breakpoint */
  --breakpoint-sp: 768px;
}

/* fallback fonts */
@font-face {
  font-family: "Noto Sans JP";
  font-size: 16px;
  size-adjust: 88.82%;
  src: local('Arial');
}

/* @font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
} */

/* SP用 */
@media (width <= 768px) {
  :root {
    /* body sizes */
    --body-font-size-default: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 24px;
    --heading-font-size-xl: 22px;
    --heading-font-size-l: 20px;
    --heading-font-size-m: 18px;
    --heading-font-size-s: 16px;
    --heading-font-size-xs: 10px;

    /* nav height */
    --nav-local-height: 45px;
    --nav-breadcrumbs-height: 21px;
  }
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-black);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-default);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
  scroll-margin: 40px;
}
h1 {
    font-size: var(--heading-font-size-xxl);
    margin-top: 64px;
}
h2 {
    margin-top: 40px;
    font-size: var(--heading-font-size-xl);
 }
h3 {
    font-size: var(--heading-font-size-l);
    margin-top: 32px;
}
h4 {
    font-size: var(--heading-font-size-m);
    margin-top: 24px;
}
h5 {
    font-size: var(--heading-font-size-s);
    margin-top: 24px;
}
h6 { font-size: var(--heading-font-size-xs); }

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background-blue-01);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-blue-02);
  text-decoration: none;
  word-break: break-word;
}

/* buttons */
a.button:any-link,
button {
  display: inline-flex;
  padding: 8px 34px 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--link-blue-02);
  color: var(--background-color);
  text-align: center;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  transition: opacity .2s ease-in-out;

  &::after{
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background: url("../icons/arrow-white.svg") no-repeat center / contain !important;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    /* transition: all .2s ease; */
  }

  &[target="_blank"]{
    &::after{
      background-image: url("../icons/target-blank-white.svg") !important;
    }
  }
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
  opacity: .5;

  /* &::after {
    transform: translate(3px, -50%);
  } */
}

button:disabled,
button:disabled:hover {
  background-color: var(--background-blue-01);
  cursor: unset;
}

a.button.primary,
button.primary {
  background-color: var(--link-orange);
}

a.button.secondary,
button.secondary {
  background-color: var(--background-color);
  border: 1px solid var(--border-black-02);
  color: var(--text-black);

  &::after {
    background-image: url("../icons/arrow-right.svg") !important;
  }

  &[target="_blank"]{
    &::after {
      background-image: url("../icons/target-blank-black.svg") !important;
    }
  }
}

a.button.tertiary,
button.tertiary {
    background-color: var(--background-black);
}

/* images */
img{
    vertical-align: bottom;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon img {
  width: 100%;
  height: auto;
}

/* text */
p{
    font-size: var(--body-font-size-default);
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;

    @media (width <= 768px) {
        line-height: 1.5;
    }
}

p sup,
p sub {
  font-size: 10px;
}

/* sections */
main{
    padding-bottom: 80px;
    overflow-x: hidden;

    @media (width <= 768px) {
        padding-bottom: 40px;
    }
}
main:has(.section > .contact-multi-wrapper:last-child),
main:has(.section > .contact-simple-wrapper:last-child),
main:has(.bg-section-container:last-child) {
    padding-bottom: 0;
}

main > .section{
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;

    &.bg-section-container{
        max-width: 100%;
        padding: 0 0;
        &.bg-gray01{
            background-color: var(--background-blue-01);
        }
        &.bg-gray02{
            background-color: var(--background-blue-02);
        }

        .bg-section-wrapper{
            padding: 36px 24px;
            max-width: 1248px;
            margin: 0 auto;
        }
    }
}
/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--background-blue-01);
  margin: 0;
  padding: 40px 0;
}

/* ブログ・サービスページ共通 */
/* ul, ol */
.default-content-wrapper{
    ul,
    ol{
        font-size: var(--body-font-size-default);
        font-style: normal;
        font-weight: 400;
        line-height: 1.75;
        padding-left: 2em;
        margin-top: 16px;

        @media (width <= 768px) {
            margin-top: 12px;
        }
    }
    
    ul{
        list-style-type: disc;
    }

    ol{
        list-style-type: decimal;
    }

    p{
        margin-top: 16px;

        @media (width <= 768px) {
            margin-top: 12px;
        }
    }
}



/* パンくずリスト */
.breadcrumbs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-breadcrumbs-height);
    max-width: none;
    font-size: 11px;
    background-color: #e6e8eb;
    padding: 0;

    ol{
        display: flex;
        width: 100%;
        align-items: center;
        max-width: 1248px;
        padding: 0 24px;
        margin: 0 auto;

        > li{
            display: flex;
            width: fit-content;
            align-items: center;

            &:first-child{
                &::before{
                    content: '';
                    width: 12px;
                    height: 11px;
                    background: url("../../icons/home.svg") no-repeat center / contain;
                    margin-right: 6px;
                }
            }

            a{
                color: currentcolor;
            }

            & + &{
                &::before{
                    content: ">";
                    display: block;
                    margin: 0 6px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (width <= 768px) {
    .breadcrumbs{
        overflow-x: scroll;
        white-space: nowrap;

        ol{
            padding: 0 0 0 20px;

            > li{
                display: flex;
                width: fit-content;
                align-items: center;

                &:last-child{
                    padding-right: 20px;
                }
            }
        }
    }
}

/* buttons-wrapper */
.buttons-wrapper {
    display: flex;
    gap: 8px;
    margin-top: 32px;

    .button{
        height: 100%;
    }
}
@media (width <= 768px) {
    .buttons-wrapper {
        &:has(.button-container:only-child),
        &:has(.button-container:nth-child(n+3)) {
            flex-direction: column;
            .button-container .button {
                width: 100%;
            }
        }
        .button-container .button {
            text-align: left;
            justify-content: flex-start;
        }
    }
}


/* p-index-content */
.p-index {
    background-color: var(--background-blue-02);
}
.p-index-content {
    .accordion-container {
        background: var(--background-color);
        border-radius: 8px;
        .accordion {
            width: 100%;
            
            &[open] {
                .accordion-header::before {
                    transform: translateY(-25%) rotate(-45deg);
                }
            }

            .accordion-header {
                position: relative;
                display: block;
                padding: 16px 24px;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    right: 24px;
                    top: 50%;
                    display: block;
                    width: 8px;
                    height: 8px;
                    border: 2px solid var(--link-blue);
                    border-width: 2px 2px 0 0;
                    transform: translateY(-75%) rotate(135deg);
                    transition: transform .2s ease;
                }
            }

            .accordion-title {
                font-size: 18px;
                font-weight: 500;
            }
            
            .accordion-content {
                display: block;

                &:first-of-type {
                    border-top: 1px solid var(--border-gray);
                }

                .tag-container {
                    padding: 0 24px;
                    .tag-group {
                        .tag-group-item {
                            display: grid;
                            grid-template-columns: 1fr 6fr;
                            padding: 16px 0;
                            align-items: center;
                            .tag-group-title {
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 1.5;
                                letter-spacing: .05em;
                            }
                            .tag-list {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 8px 12px;
                                list-style: none;
                            }
                        }

                        & + .tag-group {
                            border-top: 1px solid var(--border-gray);
                        }
                    }

                    .tag-label {
                        position: relative;
                        display: block;
                        padding: 4px 12px;
                        padding-left: 34px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.5;
                        border-radius: 4px;
                        background-color: var(--background-blue-02);
                        transition: all .2s ease-out;

                        cursor: pointer;

                        &:hover {
                            background-color: var(--background-blue-hover);
                        }
                        
                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: 12px;
                            transform: translateY(-50%);
                            transition: all .2s ease-out;
                        }
                        &::before {
                            width: 14px;
                            height: 14px;
                            border-radius: 2px;
                            background-color: var(--background-color);
                        }
                        &::after {
                            width: 6px;
                            height: 10px;
                            border-right: 2px solid var(--background-color);
                            border-bottom: 2px solid var(--background-color);
                            transform: translate(4px, calc(-50% - 1px)) rotate(45deg);
                            opacity: 0;
                        }
                    }

                    input[type="checkbox"] {
                        display: none;

                        &:checked + .tag-label {
                            background-color: var(--background-blue-hover);
                            &::before {
                                background-color: var(--link-blue);
                            }
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        @media (width <= 768px) {
            .accordion {
                .accordion-header {
                    padding: 16px 16px;

                    &::before {
                        right: 16px;
                    }
                }
                .accordion-content {
                    .tag-container {
                        padding: 0 24px;
                        .tag-group {
                            .tag-group-item {
                                display: block;
                                .tag-group-title {
                                    font-size: 12px;
                                }
                                .tag-list {
                                    margin-top: 10px;
                                }
                            }
                        }
                        .tag-label {
                            padding: 4px 8px;
                            padding-left: 24px;
                            font-size: 12px;
                            line-height: 1.33;

                            &::before,
                            &::after {
                                left: 8px;
                            }
                            &::before {
                                width: 12px;
                                height: 12px;
                            }
                            &::after {
                                transform: translate(3px, calc(-50% - 1px)) rotate(45deg) scale(.8);
                            }
                        }
                    }
                }
            }
        }
    }

    .top-article-wrap {
        .articleCards-container {
            width: 100%;
        }

        .article-count{
            .article-count-num{
                display: inline-flex;
                font-size: 32px;
                font-weight: 700;
                margin: 0 8px;
            }
        }

        .articleCards-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-top: 24px;
            padding: 0;
            list-style: none;
            .articleCards-card-item {
                width: calc((100% - (24px * 2)) / 3);
                box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
                transition: box-shadow 300ms ease-out;
                border-radius: 8px;
                overflow: hidden;
                background: var(--background-color);
                
                &:hover {
                    transition: box-shadow 300ms ease-out;
                    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 30%);
                    
                    .articleCards-card-title p {
                        color: var(--link-blue);
                    }
                }
            }
            
            .articleCards-card-link {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;
                color: var(--text-black);
                text-decoration: none;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            .articleCards-card-image {
                aspect-ratio: 16 / 9;
                
                picture {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }
            }
            
            .articleCards-card-body {
                display: flex;
                padding: 16px 24px;
                flex-direction: column;
                align-items: flex-start;
                flex-grow: 1;
            }
            
            .articleCards-card-date p {
                color: #666;
                font-size: 14px;
                font-weight: 500;
                line-height: 17.5px;
                margin: 0;
                margin-bottom: 8px;
            }
            
            .articleCards-card-title p {
                transition: color 300ms ease-out;
                color: var(--text-black);
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 16px;
            }
            
            .articleCards-card-tags-list {
                display: flex;
                width: 100%;
                align-items: flex-start;
                gap: 8px;
                margin-top: auto;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                list-style: none;
            }
            
            .articleCards-card-tag {
                display: flex;
                padding: 4px 12px;
                align-items: center;
                gap: 8px;
                border-radius: 4px;
                background: var(--background-blue-02);
                color: var(--text-black);
                font-size: 13px;
                font-weight: 400;
                line-height: 16.5px;
            }
        }

        .load-more-container{
            margin-top: 24px;

            .load-more-button{
                width: 132px;
                height: 40px;
                font-size: 16px;
                padding: 0;
                justify-content: center;
                align-items: center;
                gap: 8px;
                color: var(--text-black);
                text-align: center;
                font-weight: 700;
                background-color: transparent;
                border-radius: 4px;
                border: 1px solid var(--border-black-02);
                margin: 0 auto;

                &::after{
                    content: '';
                    display: block;
                    width: 13.239px;
                    height: 8.467px;
                    background: url("../../icons/arrow-black-down.svg") no-repeat center / contain;
                    position: relative;
                    top: 2px;
                    transition: all .2s ease-out;
                }
                &:hover{
                    &::after{
                        top: 4px;
                    }
                }
            }
        }
        
        
        @media (width <= 768px) {
            .article-count{
                .article-count-num{
                    font-size: 24px;
                }
            }

            .articleCards-list {
                flex-direction: column;
    
                .articleCards-card-item {
                    width: 100%;
                }
                
                .articleCards-card-body {
                    padding: 16px 24px;
                    gap: 16px;
                }
                
                .articleCards-card-date p {
                    font-size: 12px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
                
                .articleCards-card-title p {
                    font-size: 17px;
                    line-height: 23px;
                    margin-bottom: 0;
                }
                
                .articleCards-card-tags-list {
                    gap: 8px;
                }
            }

            .load-more-container{    
                .load-more-button{
                    width: 100%;
                }
            }
        }
    }
}

/* article-container */
.page-article{
    .article-container{
        .default-content-wrapper {
            h2 {
                position: relative;
                padding-left: 12px;
                font-size: var(--heading-font-size-xl);
                font-style: normal;
                font-weight: 700;
                line-height: 1.25;
                margin-top: 60px;
                scroll-margin-top: 84px; /* ヘッダーの高さ調整用 仮 */
    
                @media (width <= 768px) {
                    line-height: 1.33;
                    margin-top: 40px;
                }
    
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 4px;
                    height: 100%;
                    background-color: var(--link-blue);
                }
            }
    
            h3 {
                position: relative;
                padding-bottom: 12px;
                border-bottom: 1px solid var(--border-gray);
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.27;
                margin-top: 32px;
    
                @media (width <= 768px) {
                    padding-bottom: 4px;
                    font-size: var(--heading-font-size-l);
                    line-height: 1.53;
                    margin-top: 24px;
                }
            }
    
            ul,
            ol{
                font-size: var(--body-font-size-default);
                font-style: normal;
                font-weight: 400;
                line-height: 1.75;
                padding-left: 1em;
                margin-top: 16px;
    
                @media (width <= 768px) {
                    margin-top: 12px;
                }
            }
            
            ul{
                list-style-type: disc;
            }
    
            ol{
                list-style-type: decimal;
            }
    
            /* テキストマージン */
            h2 + h3{
                margin-top: 32px;
            }
    
            p{
                margin-top: 16px;
    
                @media (width <= 768px) {
                    margin-top: 12px;
                }
            }
        }

        p {
            a{
                text-decoration: underline;
            }
        }
    
        a[target="_blank"] {
            &::after{
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                background: url("../icons/target-blank.svg") no-repeat center / contain;
                vertical-align: middle;
                margin: 0 0.5em;
            }
        }

        p > picture{
            display: block;
            margin-top: 32px;

            @media (width <= 768px) {
                margin-top: 24px;
            }
        }

        /* テキストマージン */
        h2 + h3{
            margin-top: 32px;
        }

        p{
            margin-top: 16px;

            @media (width <= 768px) {
                margin-top: 12px;
            }

            a{
                text-decoration: underline;
            }
        }

        .text-group-container{
            + p,
            + .section{
                margin-top: 32px;

                @media (width <= 768px) {
                    margin-top: 24px;
                }
            }
        }
    }
    & .article-container {
        /* 最初のセクション */
        & .section:first-child {
            /* セクション内の最初の子要素 */
            & > *:first-child {
                /* 最初の子要素内の.default-content-wrappeの最初のpと.blockのマージンを削除 */
                & .default-content-wrapper p:first-child,
                & .block:first-child {
                    margin-top: 0;
                }
            }
            /* セクション直下の最初の.default-content-wrapper内の最初のpのマージンを削除 */
            & > .default-content-wrapper:first-child p:first-child {
                margin-top: 0;
            }
            /* セクション直下の最初の.blockのマージンを削除 */
            & > .block:first-child {
                margin-top: 0;
            }
        }
    }
}
